<!DOCTYPE html>
{% load static %}
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
</head>
<body>
	
	{% if Article_list %}
		{% for i in Article_list %}
			<h1>
				{{ i.article_title }}
			</h1>

			<p>
				{{ i.text }}
			</p>

			<address>
				{{ i.author }}
			</address>
		{% endfor %}
	{% endif %}

	{% if Article %}
		{% for i in Article %}
			<h1>
				{{ i.article_title }}
			</h1>

			<p>
				{{ i.text }}
			</p>

			<address>
				{{ i.author }}
			</address>
		{% endfor %}
	{% endif %}
</body>